UNSAFE_ENV_DO_NOT_USE_IN_PRODUCTION = 00000

NODE_HOST="127.0.0.1"
NODE_PORT="8899"

KEYPAIR_DIR="/.solana-keypair/"
GENESIS_KEYPAIR_PATH="/.solana-keypair/account0/keypair"
GENESIS_MNEMONIC_PATH="/.solana-keypair/account0/mnemonic.json"
GENESIS_PUBKEY_PATH="/.solana-keypair/account0/public_key.json"

ENCRYPTION_KEY="thisisaverysecurekey123456789012"

BOOK_STORAGE_PROGRAM_ID=storage_program_id_place_holder
BOOK_COVER_PROGRAM_ID=cover_program_id_Place_holder
