NODE_HOST="127.0.0.1"
NODE_PORT="8899"

KEYPAIR_DIR="/.solana-keypair/"
GENESIS_KEYPAIR_PATH="/.solana-keypair/account0/keypair"
GENESIS_MNEMONIC_PATH="/.solana-keypair/account0/mnemonic.json"
GENESIS_PUBKEY_PATH="/.solana-keypair/account0/public_key.json"

ENCRYPTION_KEY="thisisaverysecurekey123456789012"

BOOK_STORAGE_PROGRAM_ID=8Besjdk7LVmnJfuCKAaM2sfAubbggvhgT597XFH8AXbj
BOOK_COVER_PROGRAM_ID=CLcPEsey6Ej423NZWnX7WnxVvE6Adirry8psgET3tiiG
MPL_TOKEN_METADATA_PROGRAM_ID=HNaAGXKo1YfrmfVbxHtMgZi5ATBuoxZEck98jiZWg7WP
NFT_OWNER_MNEMO="laundry gossip rely pull never goat idea pencil fire ankle dolphin equip"
